doctype html
html
	head
		title User Testing 350:.
		<meta charset="UTF-8">
		link(rel="stylesheet" href="css/animate.css")
		link(rel="stylesheet" href="css/bootstrap.min.css")
		link(rel="stylesheet" href="css/font-awesome.min.css")
		link(rel="stylesheet" href="css/icomoon.css")
		link(rel="stylesheet" href="css/main.css")
		link(rel="stylesheet" href="css/queries.css")
	body
		.container-fluid.fond
			.row.oscuro
				.row
					.col-md-6
						h3 USER TESTING 360
					//- img(src="image/logo-2.jpg" width="200px")
					.col-md-6
						ul(class="list-unstyled list-inline pull-left")
							li
								a(href="index.html")¿Qué me ofrece?
							li
								a(href="index.html")¿Cómo funciona?
							li
								a(href="index.html")¿por qué usarlo?
							li
								a(href="index.html")¿Contactanos?
				.fondo
					h1.text-center Obtén videos de personas reales<br>utilizando tu sitio web, en 1 hora
		.row.azul
			.col-md-6.texto
				h3.text-center PRUEBA GRATUITA
				p.text-center Obtén un video gratis de 5 minutos
			.col-md-6.boton
				button Pruebalo Gratis
		.row.tit
			h1.text-center Nuestros servicios
		.container
			.row.iconos
				.col-md-4.text-center					
					i.icon-video
					h3 Pruebalo<br>gratis
					p Lorem ipsum dolor sit amet,<br>consectetur adipisicing.
				.col-md-4.text-center					
					i.icon-clock
					h3 Compra el<br>servicio completo
					p Lorem ipsum dolor sit amet,<br>consectetur adipisicing.
				.col-md-4.text-center					
					i.icon-documents
					h3 Obtén el resultado<br>en 1 día
					p Lorem ipsum dolor sit amet,<br>consectetur adipisicing.
		.container-fluid.sep
			<hr>
			<center>
			img(src="image/separador.png")
			</center>
		.container
			.row
				.col-md-6
					h1 Ejemplo de
						img(src="image/logo-2.jpg" width="250px")
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam<br>
						a(href="#") mimediamanzana.com<br>
					p lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam<br>
						<center>
						img.flecha(src="image/flecha.png")
						</center>
				.col-md-6
					<iframe width="554" height="280" src="https://www.youtube.com/embed/u7MDfG9ZJTU" frameborder="0" allowfullscreen></iframe>
				<hr>
			.row
				.col-md-6.pasos
					ul.pull-right(class="list-unstyled")
						li
							i.icon-pencil
						li
							i.icon-tools-2
						li
							i.icon-magnifying-glass
				.col-md-6.pasostext
					h3 Lo quiero ¿Qué hago?
					h4 Paso 1:envianos tu link
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
					h4 Paso 2:describe a tu público objetivo
					p Describe las acciones que quieres que evaluemos por ejemplo:
					ul
						li A primera vista de ¿Qué crees que trata la página?
						li Busca el botón de inscribete ó comprar
						li ¿Es fácil o dificil leer los textos?
					p Puedes comprar como las que te mostramos.
					h4 Paso3:recibe un video y el feedback completo
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod.
			<hr class="sep">
			img.sepimg(src="image/separador.png")
			.row
				.col-md-6
					h1 Por qué usar
						img(src="image/logo-2.jpg" width="250px")
					p Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
					ul
						li¿Cómo tu público objetivo verdaderamente usa tu producto?
						li¿Qué se hace fácil o dificil al navegar en tu producto?
						li¿Qué es lo que tu público quiere hacer y tal vez no obtiene o consigue?
					p"User testing 360°" Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.
				.col-md-6
					img(class="img-responsive" src="image/banner.jpg")
		.container-fluid.color
			.row.final
				.col-md-6
					h3.text-center PRUEBA GRATUITA
					p.text-center Obtén un video gratis de 5 minutos
				.col-md-6
					button Pruebalo Gratis
		.container-fluid.pie
			.row
				.col-md-6.contact
					p Escríbenos a:
					a(href="#") experienciadeusuario.lab@gmail.com
					
					p telef: 989637925
				.col-md-6.redes
					a.pull-right(href="#")
							i.icon-facebook
					a.pull-right(href="#")
							i.icon-twitter
					<br>
					<br>
					p.pull-right copyright © 2015-User Testing 360